<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ADAFAMS.Web-20130715105938;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ADAFAMS.Web-20130715105938.mdf" providerName="System.Data.SqlClient" />
		<add name="CloudConnection" connectionString="Data Source=.\Tracet;Integrated Security=True;Pooling=False;Database=ENVOY425;" />

    	<!--<add name="FAMSConnection" connectionString="Data Source=AIPLLTM110\MSSQLSERVER2017;user id=sa; password=sa@1985;Pooling=False;Database=UdyogAssetz22052023;" />
		<add name="ADQFAMSDATA" connectionString="data source=AIPLLTM110\MSSQLSERVER2017;initial catalog=UdyogAssetz22052023;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

   <!--<add name="FAMSConnection" connectionString="Data Source=AIPLLTM110\MSSQLSERVER2014;user id=sa; password=sa@1985;Pooling=False;Database=Tracet4_8_6;" />
    <add name="ADQFAMSDATA" connectionString="data source=AIPLLTM110\MSSQLSERVER2014;initial catalog=Tracet4_8_6;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    
		<add name="MISDATA1" connectionString="data source=AIPLLTM110\MSSQLSERVER2017;initial catalog=UdyogAssetz22052023;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TeraData" connectionString="data source=AIPLLTM110\MSSQLSERVER2014;integrated security=true; pooling=false;database=TERA;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="ADQFAMSDATA" connectionString="data source=192.168.2.99\SQLEXPRESS2014,1143;initial catalog=Tracet_8088;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FAMSConnection" connectionString="Data Source=192.168.2.99\SQLEXPRESS2014,1143;user id=sa; password=sa@12345;MultipleActiveResultSets=True;Database=Tracet_8088;" />-->
    
    <!--<add name="MISDATA" connectionString="data source=192.168.1.120\SQLEXPRESS2017;initial catalog=tracet_8053;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TeraData" connectionString="data source=192.168.1.120\SQLEXPRESS2017;initial catalog=Tracet_UC;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ADQFAMSDATA" connectionString="data source=192.168.1.120\SQLEXPRESS2017;initial catalog=tracet_8053;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="FAMSConnection" connectionString="Data Source=192.168.1.120\SQLEXPRESS2017;user id=sa; password=sa@12345;MultipleActiveResultSets=True;Database=tracet_8053;" />-->

    <!--<add name="ADQFAMSDATA" connectionString="data source=AIPLLTM115\SQLDEVELOPER2019;initial catalog=TracetDB;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FAMSConnection" connectionString="Data Source=AIPLLTM115\SQLDEVELOPER2019;user id=sa; password=sa@1985;MultipleActiveResultSets=True;Database=TracetDB;"/>
    <add name="TeraData" connectionString="data source=AIPLLTM115\SQLEXPRESS;pooling=false;database=Tracet_UC;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->

    <!--<add name="FAMSConnection" connectionString="Data Source=AIPLLTM115\SQLEXPRESS;user id=sa; password=sa@1985;Pooling=False;Database=NewTracet1;" />
    <add name="ADQFAMSDATA" connectionString="data source=AIPLLTM115\SQLEXPRESS;initial catalog=NewTracet1;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MISDATA1" connectionString="data source=AIPLLTM115\SQLEXPRESS;initial catalog=NewTracet1;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TeraData" connectionString="data source=AIPLLTM115\SQLEXPRESS;pooling=false;database=Tracet_UC;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->

    <!--<add name="FAMSConnection" connectionString="Data Source=AIPLLTM115\SQL2014;user id=sa; password=sa@1985;Pooling=False;Database=Tracet_8053;" />
    <add name="ADQFAMSDATA" connectionString="data source=AIPLLTM115\SQL2014;initial catalog=Tracet_8053;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TeraData" connectionString="data source=AIPLLTM115\SQLEXPRESS;pooling=false;database=Tracet_UC;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->


    <add name="FAMSConnection" connectionString="Data Source=AIPLLTM115\SQLEXPRESS;user id=sa; password=sa@1985;Pooling=False;Database=TracetBackupR;" />
    <add name="ADQFAMSDATA" connectionString="data source=AIPLLTM115\SQLEXPRESS;initial catalog=TracetBackupR;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TeraData" connectionString="data source=AIPLLTM115\SQLEXPRESS;pooling=false;database=Tracet_UC;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    
    <!--<add name="FAMSConnection" connectionString="Data Source=AIPLLTM115\SQLDEVELOPER2019;user id=sa; password=sa@1985;Pooling=False;Database=TracetuERP;" />
    <add name="ADQFAMSDATA" connectionString="data source=AIPLLTM115\SQLDEVELOPER2019;initial catalog=TracetuERP;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TeraData" connectionString="data source=AIPLLTM115\SQLDEVELOPER2019;pooling=false;database=Tracet_UC;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!--<add name="FAMSConnection" connectionString="Data Source=AIPLLTM115\SQLDEVELOPER2019;user id=sa; password=sa@1985;Pooling=False;Database=UdyogAssetzBFNew;" />
    <add name="ADQFAMSDATA" connectionString="data source=AIPLLTM115\SQLDEVELOPER2019;initial catalog=UdyogAssetzBFNew;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TeraData" connectionString="data source=AIPLLTM115\SQLEXPRESS;pooling=false;database=Tracet_UC;user id=sa; password=sa@1985;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->

    <!--<add name="FAMSConnection" connectionString="Data Source=192.168.1.120\SQLEXPRESS2017;user id=sa; password=sa@12345;Pooling=False;Database=Tracet_8088;" />
<add name="ADQFAMSDATA" connectionString="data source=192.168.1.120\SQLEXPRESS2017;initial catalog=Tracet_8088;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
<add name="MISDATA1" connectionString="data source=192.168.1.120\SQLEXPRESS2017;initial catalog=Tracet_8088;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
<add name="MISDATA" connectionString="data source=192.168.1.120\SQLEXPRESS2017;initial catalog=Tracet_8088;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TeraData" connectionString="data source=192.168.1.120\SQLEXPRESS2017;pooling=false;database=Tracet_UC;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->

    <!--<add name="FAMSConnection" connectionString="Data Source=192.168.1.160\SQLEXPRESS2017;user id=sa; password=sa@12345;Pooling=False;Database=Tracet;" />
<add name="ADQFAMSDATA" connectionString="data source=192.168.1.160\SQLEXPRESS2017;initial catalog=Tracet;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
<add name="MISDATA1" connectionString="data source=192.168.1.160\SQLEXPRESS2017;initial catalog=Tracet;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
<add name="MISDATA" connectionString="data source=192.168.1.160\SQLEXPRESS2017;initial catalog=Tracet;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TeraData" connectionString="data source=192.168.1.160\SQLEXPRESS2017;pooling=false;database=Tracet_UC;user id=sa; password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<appSettings>
		<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
		<add key="owin:AutomaticAppStartup" value="true" />
		<add key="API" value="http://192.168.1.7:1324/api/Validation/Validatekey/" />
		<add key="SMTPEmailFrom" value="noreply@tracet.in" />
		<add key="SMTPPass" value="Zoqo5181" />
		<add key="SMTPHost" value="smtp.office365.com" />
		<add key="SMTPPort" value="587" />
		<add key="SendMailTo" value="support@tracet.in" />
		<add key="CCEmail" value="support@tracet.in" />
		<add key="UdyogSupportMail" value="support@tracet.in" />
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="aspnet:MaxHttpCollectionKeys" value="5000" />
		<add key="NotificationDays" value="7" />
		<add key="RenewPath" value="http://localhost:15997/subscription/renew" />
		<add key="EmailAPI" value="http://202.53.11.217:2321/api/Email/SendEMail/" />
		<add key="VersionNumber" value="5.0.2" />
		<add key="DirectoryMainPath" value="D:\03 Tracet\Tracet\ADQFAMS.Web\" />
		<add key="ImportFilesPath" value="ImportFiles\" />
		<add key="UploadedFiles" value="Uploaded_Files\" />
		<add key="PrnFiles" value="PrnFiles\" />
		<add key="DefaultBarcodePrnFiles" value="~/PrnFiles/DefaultBarcodeProfiles/" />
		<add key="TracetExcelTemplates" value="~/TracetExcelTemplates/" />
		<add key="AssetDocuments" value="AssetDocuments\" />
		<add key="BarcodeImages" value="BarCodeImages\" />
		<add key="ImportErrorFiles" value="ImportErrorFiles\" />
		<add key="Backupfile" value="D:\TracetFullBackup" />
		<add key="CloudAPIUrl" value="https://app.tracet.in/ca/verification/index" />
		<add key="CloudUrl" value="https://app.tracet.in/" />
		<add key="DbName" value="TracetBackupR" />
		<add key="DBDispalyName" value="Tracetbck" />
		<add key="vs:EnableBrowserLink" value="false" />
		<add key="IsProcurementRequired" value="1" />
		<add key="EnableBarCode" value="0" />
		<add key="GroupNoApplicable" value="false" />
		<add key="BharathiAxaStatus" value="false" />
		<add key="dirusername" value="ugadela" />
		<add key="dirpassword" value="India@123456" />
		<add key="IsThreeTireDeployment" value="false" />
		<add key="KendoDateFormat" value="dd/MM/yyyy" />
		<add key="NotificationExpiryDay" value="7" />
    
    <add key="MISURL" value="http://localhost:8051/" />

    <add key="HostName" value="AIPLDTH171" />
    <add key="Domain" value="testdemo.com" />
    <add key="UserName" value="uma" />
    <add key="Password" value="India@1234" />
    <add key="Port" value="636" />
    <add key="baseDN" value="OU=Test_Team,DC=testdemo,DC=com" />
    <add key="maxResultsToRequest" value="1000" />
    <add key="IsLDAPS" value="false" />
    <add key="IsSSL" value="true" />
    
    
    <add key="TaxillaJsonPath" value="D:\Tracet\IT Assets\Software Asset Report\From Rupesh G\JsonBody.txt" />
    <add key="TaxillaTokenUrl" value="https://assetqa.taxilla.com/oauth2/v1/token" />
    <add key="TaxillaRecordSearch" value="https://assetqa.taxilla.com/search/entities/softwaredetails/records/_search" />
    <add key="TaxillaClientId" value="adaeuarecom_admin" />
    <add key="TaxillaClientSecret" value="admin_user_001" />
    <add key="TaxillaGrantType" value="client_credentials" />
    <add key="TracetBaseUrl" value="http://localhost:19729" />

    <add key="ServiceDeskCompID" value="30028" />

  </appSettings>
	<system.web>
		<sessionState timeout="200"></sessionState>
		<!--<globalization uiCulture="en" culture="en-GB"/>-->
		<!--<httpRuntime targetFramework="4.5" maxRequestLength="65536" requestValidationMode="4.0" executionTimeout="110" />-->
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="DevExpress.Data.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxThemes.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.RichEdit.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.RichEdit.v18.1.Export, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Printing.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.Mvc5.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraReports.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraReports.v18.1.Web, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraReports.v18.1.Web.WebForms, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Pdf.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.Resources.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Charts.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.CodeParser.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.DataAccess.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Office.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.PivotGrid.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Sparkline.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Xpo.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraCharts.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraGauges.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Home/Login" slidingExpiration="true" name=".FamsAuth" />
		</authentication>
		<pages controlRenderingCompatibilityVersion="4.0" validateRequest="true" clientIDMode="Predictable">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="DevExpress.Utils" />
				<add namespace="DevExpress.Web.ASPxThemes" />
				<add namespace="DevExpress.Web" />
				<add namespace="DevExpress.Web.Mvc" />
				<add namespace="DevExpress.Web.Mvc.UI" />
				<add namespace="DevExpress.XtraReports" />
				<add namespace="DevExpress.XtraReports.UI" />
				<add namespace="DevExpress.XtraReports.Web" />
				<add namespace="DevExpress.XtraReports.Web.DocumentViewer" />
			</namespaces>
		</pages>
		<httpHandlers>
			<!-- Required by Microsoft ReportViewer control -->
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRD.axd" validate="false" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" validate="false" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXQB.axd" validate="false" />
		</httpHandlers>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
		<!--<globalization culture="" uiCulture="" />-->
	</system.web>
	<system.webServer>

		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="*"/>
        <add name="Access-Control-Allow-Headers" value="*"/>
			</customHeaders>
		</httpProtocol>

		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<!-- Required by Microsoft ReportViewer control -->
			<remove name="ReportViewerWebControlHandler" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRD.axd" name="ASPxReportDesignerHandlerModule" preCondition="integratedMode" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXQB.axd" name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" />
		</handlers>
		<modules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</modules>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="327689" maxAllowedContentLength="4294967295" />
        <!--modified by hamraj for SR013647-->
      </requestFiltering>
    </security>    
	</system.webServer>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Management.Sdk.Sfc" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.SqlEnum" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="C:/famslogs/logs/log_%date{yyyyMMdd}.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline" />
			</layout>
		</appender>
		<!--<appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="D:\\ MyloggerSite.log"/>
      -->
		<!-- Example using environment variables in params -->
		<!--
      -->
		<!-- <param name="File" value="${TMP}\\ApplicationKit.log" /> -->
		<!--
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-2p %c [%x] - %m%n"/>
      </layout>
  </appender>-->
		<root>
			<level value="ALL" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
	<devExpress>
		<resources>
			<add type="ThirdParty" />
			<add type="DevExtreme" />
		</resources>
		<themes enableThemesAssembly="true" theme="" customThemeAssemblies="" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
		<settings rightToLeft="false" checkReferencesToExternalScripts="true" doctypeMode="Html5" accessibilityCompliant="false" />
		<errors callbackErrorRedirectUrl="" />
	</devExpress>
</configuration>